{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <form action="/calculoDistancia" method="post">
        <div class="mb-3">
            <label for="x1" class="form-label">x1:</label>
            <input type="number" step="any" class="form-control" id="x1" name="x1" required>
        </div>

        <div class="mb-3">
            <label for="y1" class="form-label">y1:</label>
            <input type="number" step="any" class="form-control" id="y1" name="y1" required>
        </div>

         <div class="mb-3">
            <label for="x2" class="form-label">x2:</label>
            <input type="number" step="any" class="form-control" id="x2" name="x2" required>
        </div>

         <div class="mb-3">
            <label for="y2" class="form-label">y2:</label>
            <input type="number" step="any" class="form-control" id="y2" name="y2" required>
        </div>
    </form>

 <button type="submit" class="btn btn-primary w-100">Calcular</button>
 <div class="mb-3">
        <h4>La distancia es: {{ resultado }}</h4>
</div>

{% endblock %}